/* ethernal-presets */

.ethernal-presets {
  background-color: #000000;
  height: 812px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}

.image-20-Axwg1b {
  background-color: transparent;
  height: 375px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 375px;
}

.fm8-ethereal-presets {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  height: auto;
  left: 128px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 400px;
  white-space: nowrap;
  width: auto;
}

.image-22-Axwg1b {
  background-color: transparent;
  height: 243px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 569px;
  width: 375px;
}

.free-download {
  -webkit-text-stroke: 1px var(--maroon);
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 92px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 433px;
  white-space: nowrap;
  width: auto;
}

.expertly-designed-fm-Axwg1b {
  background-color: transparent;
  height: 63px;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: 10px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 493px;
  width: 339px;
}

.star {
  background-color: transparent;
  height: 23px;
  left: 42px;
  opacity: 0.7;
  position: absolute;
  top: 614px;
  width: 23px;
}

.path-6-TN8nlG {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.x120-preset-patches-f-Axwg1b {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  height: auto;
  left: 76px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 624px;
  white-space: nowrap;
  width: auto;
}

.star-half-etIwxJ {
  background-color: transparent;
  height: 23px;
  left: 42px;
  opacity: 0.7;
  position: absolute;
  top: 667px;
  width: 23px;
}

.path-6-4B3IOu {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.fm8-royalty-free-download {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  height: auto;
  left: 84px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 674px;
  white-space: nowrap;
  width: auto;
}

.download-Axwg1b {
  background-color: transparent;
  height: 29px;
  left: 42px;
  position: absolute;
  top: 431px;
  width: 36px;
}

.ethernal-presets .path-7-Czve95 {
  background-color: transparent;
  bottom: 0px;
  height: 14px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.path-8-Czve95 {
  background-color: transparent;
  bottom: calc(32.07% - 3px);
  height: 8px;
  left: calc(50.00% - 7px);
  object-fit: cover;
  position: absolute;
  width: 14px;
}

.path-9-Czve95 {
  background-color: transparent;
  height: 20px;
  left: calc(50.00% - 1px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 2px;
}

.group-47-Axwg1b {
  background-color: transparent;
  cursor: pointer;
  height: 27px;
  left: 12px;
  mix-blend-mode: hard-light;
  position: absolute;
  top: 11px;
  width: 27px;
}

.image-18-WXhSSm {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.dual-chase-logo-WXhSSm {
  background-color: transparent;
  bottom: calc(28.57% - 2px);
  height: 6px;
  object-fit: cover;
  position: absolute;
  right: 4px;
  width: 7px;
}
