/* For-the-people-sample-pack */

.for-the-people-sample-pack {
  background-color: var(--black);
  height: 812px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}

.rectangle-20-ETT3nD {
  background-color: #283a3e;
  filter: blur(50px);;
  height: 469px;
  left: 17px;
  position: absolute;
  top: 262px;
  width: 92px;
}

.Juchepack {
  background-color: transparent;
  height: 131px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 46px;
  width: 131px;
}

.for-the-people {
  -webkit-text-stroke: 1px #4b6366;
  background-color: transparent;
  height: auto;
  left: 185px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 94px;
  white-space: nowrap;
  width: auto;
}

.juche {
  background-color: transparent;
  height: auto;
  left: 188px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 120px;
  white-space: nowrap;
  width: auto;
}

.for-the-people-sample-pack .art1 {
  background-color: transparent;
  height: 39px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 246px;
  width: 39px;
}

.art2 {
  background-color: transparent;
  height: 39px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 296px;
  width: 39px;
}

.art3 {
  background-color: transparent;
  height: 39px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 346px;
  width: 39px;
}

.art4 {
  background-color: transparent;
  height: 39px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 396px;
  width: 39px;
}

.art5 {
  background-color: transparent;
  height: 39px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 446px;
  width: 39px;
}

.art6 {
  background-color: transparent;
  height: 39px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 496px;
  width: 39px;
}

.art7 {
  background-color: transparent;
  height: 39px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 546px;
  width: 39px;
}

.art8 {
  background-color: transparent;
  height: 39px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 596px;
  width: 39px;
}

.art9 {
  background-color: transparent;
  height: 39px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 646px;
  width: 39px;
}

.ftp_jch_01_kick-ETT3nD {
  background-color: transparent;
  height: auto;
  left: 89px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: center;
  top: 257px;
  white-space: nowrap;
  width: auto;
}

.ftp_jch_02_kick-ETT3nD {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 311px;
  white-space: nowrap;
  width: auto;
}

.ftp_jch_01_esnare-ETT3nD {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 357px;
  white-space: nowrap;
  width: auto;
}

.ftp_jch_snare_thunder-ETT3nD {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 407px;
  white-space: nowrap;
  width: auto;
}

.ftp_jch_120_hihat-ETT3nD {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 461px;
  white-space: nowrap;
  width: auto;
}

.ftp_jch_110_drums-ETT3nD {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 511px;
  white-space: nowrap;
  width: auto;
}

.ftp_jch_etheral_fx-ETT3nD {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 561px;
  white-space: nowrap;
  width: auto;
}

.ftp_jch_skeler_valien-ETT3nD {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 607px;
  white-space: nowrap;
  width: auto;
}

.ftp_jch_synth_saturn-ETT3nD {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 662px;
  white-space: nowrap;
  width: auto;
}

.container-right-ETT3nD {
  background-color: transparent;
  height: 29px;
  left: 51px;
  position: absolute;
  top: 194px;
  width: 164px;
}

.wireframe-quicksearch-nHxOsf {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 164px;
}

.background-o1rEVE {
  background-color: transparent;
  border: 1px solid #a6a59d;
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.search-o1rEVE {
  background-color: transparent;
  border: 0;
  bottom: calc(40.00% - 10px);
  color: #3a383a;
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-xxl);
  font-style: italic;
  font-weight: 400;
  height: 24px;
  left: calc(26.67% - 16px);
  letter-spacing: 0.00px;
  line-height: 28px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: 59px;
}

.search-o1rEVE::placeholder {
  color: #3a383a99;
}

.icon-download_arrow-ETT3nD {
  background-color: transparent;
  height: 20px;
  left: 312px;
  object-fit: cover;
  position: absolute;
  top: 252px;
  width: 17px;
}

.icon-download_arrow-dHgfSg {
  background-color: transparent;
  height: 20px;
  left: 312px;
  object-fit: cover;
  position: absolute;
  top: 306px;
  width: 17px;
}

.icon-download_arrow-bQGkSh {
  background-color: transparent;
  height: 20px;
  left: 312px;
  object-fit: cover;
  position: absolute;
  top: 356px;
  width: 17px;
}

.icon-download_arrow-CyXZnx {
  background-color: transparent;
  height: 20px;
  left: 312px;
  object-fit: cover;
  position: absolute;
  top: 406px;
  width: 17px;
}

.icon-download_arrow-diEzhU {
  background-color: transparent;
  height: 20px;
  left: 312px;
  object-fit: cover;
  position: absolute;
  top: 456px;
  width: 17px;
}

.icon-download_arrow-43aZ8x {
  background-color: transparent;
  height: 20px;
  left: 312px;
  object-fit: cover;
  position: absolute;
  top: 510px;
  width: 17px;
}

.icon-download_arrow-AqAqh6 {
  background-color: transparent;
  height: 20px;
  left: 312px;
  object-fit: cover;
  position: absolute;
  top: 560px;
  width: 17px;
}

.icon-download_arrow-djCO0x {
  background-color: transparent;
  height: 20px;
  left: 312px;
  object-fit: cover;
  position: absolute;
  top: 606px;
  width: 17px;
}

.icon-download_arrow-s5eXZT {
  background-color: transparent;
  height: 20px;
  left: 312px;
  object-fit: cover;
  position: absolute;
  top: 660px;
  width: 17px;
}

.j-ETT3nD {
  -webkit-text-stroke: 1px var(--cyber-grape);
  background-color: transparent;
  height: auto;
  left: 228px;
  letter-spacing: 0.00px;
  line-height: 94px;
  opacity: 0.09;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: auto;
}

.group-13-ETT3nD {
  background-color: transparent;
  cursor: pointer;
  height: 27px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 27px;
}

.image-18-cuC1Rx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.dual-chase-logo-cuC1Rx {
  background-color: transparent;
  bottom: calc(28.57% - 2px);
  height: 6px;
  object-fit: cover;
  position: absolute;
  right: 4px;
  width: 7px;
}

.bx-search-alt-ETT3nD {
  background-color: transparent;
  height: 19px;
  left: 55px;
  position: absolute;
  top: 199px;
  width: 19px;
}

.icon-search-mHTcFJ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
