:root { 
  --black: #000000;
  --blackcurrant: #2d2942;
  --cyber-grape: #644284;
  --eucalyptus: #52faaf;
  --evening-sea: #054e44;
  --maroon: #840202;
  --martinique: #372c4a;
  --mine-shaft: #333333;
  --red: #ff0000;
  --sunglow: #ffd34e;
  --white: #ffffff;
 
  --font-size-l: 11px;
  --font-size-m: 10px;
  --font-size-xl: 15px;
  --font-size-xxl: 16px;
  --font-size-xxxl: 20px;
  --font-size-xxxxl: 25px;
  --font-size-xxxxxl: 40px;
 
  --font-family-source_sans_pro: "Source Sans Pro", Helvetica;
  --font-family-work_sans: "Work Sans", Helvetica;
}
.worksans-black-white-11px {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 900;
}

.worksans-normal-white-10px {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.worksans-light-white-11px {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
}

.worksans-extra-bold-white-15px {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 800;
}

.worksans-extra-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 800;
}

.worksans-extra-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 800;
}

.worksans-bold-white-11px {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.worksans-black-white-94px {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: 94px;
  font-style: normal;
  font-weight: 900;
}

.worksans-light-black-15px {
  color: var(--black);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
}

.worksans-light-black-10px {
  color: var(--black);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.worksans-bold-white-10px {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.worksans-bold-white-8px {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
}

.worksans-extra-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 800;
}

.worksans-extra-bold-white-40px {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 800;
}

.worksans-bold-black-16px {
  color: var(--black);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.worksans-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-work_sans);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.border-1px-black {
  border: 1px solid var(--black);
}

.border-2px-martinique {
  border: 2px solid var(--martinique);
}

.border-3px-black {
  border: 3px solid var(--black);
}

.border-2px-white {
  border: 2px solid var(--white);
}

.border-1px-blackcurrant {
  border: 1px solid var(--blackcurrant);
}

.border-1px-eucalyptus {
  border: 1px solid var(--eucalyptus);
}

.border-1px-mine-shaft {
  border: 1px solid var(--mine-shaft);
}
